 <!-- Carousel Start -->

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                 
                                <div class="carousel-item active">
                                    <img src=" https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2Farticulo1%2F2023-Toyota-Tundra-SR5-SX-package-2.webp?alt=media&token=36d43ed2-a183-4f0a-b4ab-777b04961dde" class="d-block w-100" alt="Toyota Tundra">
                                    
                                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                        <div class="p-3" style="max-width: 700px;">
                                            <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Toyota Tundra Hybrid</h1>
                                            <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Las Favoritas en EEUU y Venezuela</p>
                                            <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" routerLink="/noticias">Ver Ahora</a>
                                        </div>
                                    </div>

                                  </div>
                                
                                <div class="carousel-item ">
                                    <div class="imgPrincipal"> 
                                        <img src="https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2Fcarousel-1.png?alt=media&token=932cfa01-450f-4678-9b42-299c0bba811e" class="img-fluid">
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="imgPrincipal"> 
                                        <img src="https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2Fmotosusadas.png?alt=media&token=1c1196a4-0daf-460e-8748-a80f10234aee" class="img-fluid">
                                    </div>
                                </div>


                            

                            </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Atras</span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                            </button>
                    </div>
          
  <!-- Carousel End -->