  <!--Main layout-->
  <main class="mt-4 mb-5">
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Section: Post data-mdb-->
          <section class="border-bottom mb-4">
            <img src="https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2Farticulo1%2F2023-Toyota-Tundra-SR5-SX-package-2.webp?alt=media&token=36d43ed2-a183-4f0a-b4ab-777b04961dde"
              class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />

            <div class="row align-items-center mb-4">
              <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                <img src="https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2Fequipotecnico.jpg?alt=media&token=1c2e0a69-9e79-49a3-9b4a-47e7e930e34a" class="rounded-5 shadow-1-strong me-2"
                  height="35" alt="" loading="lazy" />
                <span> Publicado <u>25/04/2023</u></span>
                <a href="" class="text-dark"> Anderson Garcia</a>
              </div>

              <div class="col-lg-6 text-center text-lg-end">
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                  <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
                  <i class="fab fa-linkedin"></i>
                </button>
                <button type="button" class="btn btn-primary px-3 me-1">
                  <i class="fas fa-comments"></i>
                </button>
              </div>
            </div>
          </section>
          <!--Section: Post data-mdb-->

          <!--Section: Text-->
          <section>
            <p>
              En perspectiva, los estadounidenses compraron alrededor de 104,000 Tundras en 2022, pero devoraron casi 654,000 modelos Ford serie F, alrededor de 513,000 Chevy Silverados y más de 468,000 camionetas Ram. Aún así, las ventas de Tundra aumentaron un 27 por ciento desde 2021, lo que sugiere que la base de seguidores leales de Toyota ha renovado su interés.
            </p>

            <p><strong>Tercera Generación?</strong></p>

            <p>
              El debut de la Tundra de tercera generación fue bienvenido, ya que habían pasado casi dos décadas desde que debutó la segunda generación. Claro, un cambio de imagen de 2014 intentó mantener las cosas frescas, pero la camioneta todavía se sentía anticuada, y eso fue hace casi 10 años. Toyota, sin saberlo, se beneficia de que la vieja camioneta se quede más tiempo del esperado, ya que la nueva parece más, bueno, nueva . Ahora construido sobre la plataforma de carrocería sobre bastidor TNGA-F, cambia las ballestas traseras por una configuración más sofisticada de muelles helicoidales.
            </p>

            <p class="note note-light">
              <strong>Nota:</strong> No es la mejor camioneta, pero no es terrible", bromeó Beard. "Es una Tundra mejor
            </p>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, libero repellat
              molestiae aperiam laborum aliquid atque magni nostrum, inventore perspiciatis
              possimus quia incidunt maiores molestias eaque nam commodi! Magnam, labore.
            </p>

            <img src="https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2Farticulo1%2F2023-toyota-tundra-hybird-limited-crewmax136-64469d1347b47.jpg?alt=media&token=5d70091b-b4f6-4825-869a-7425d37fbc5b" class="img-fluid shadow-1-strong rounded-5 mb-4"
              alt="" />

          

            <p>
              Complementando su cuerpo más cincelado, incluyendo una cara que podría pasar por la de un Peterbilt, el interior de la Tundra cuenta con un diseño moderno, mejores materiales y tecnología deseable. Tiene superficies estándar suaves al tacto y asientos delanteros ajustables eléctricamente con cojines con calefacción y ventilación. Además de la robusta aparamenta y el ajuste y acabado respetables, la endeble cubierta de la consola central se siente como si una mano errante pudiera arrancarla, provocando TEPT por las partes desvencijadas de la vieja Tundra.


            </p>


            <img src="https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2Farticulo1%2F2023-toyota-tundra-hybird-limited-crewmax127-64469f0a7845b.jpg?alt=media&token=4cb61361-b567-4e3f-ba4c-b4dd39303891" class="img-fluid shadow-1-strong rounded-5 mb-4"
            alt="" />

            <p>
              El precio Promedio de la Limited CrewMax es de $64,093. Si eso suena caro, es porque lo es. Una Ram 1500 Longhorn 2023 más lujosa cuesta casi lo mismo, al igual que una lujosa GMC Sierra Denali '23. La Tundra acumula alrededor de $12,000 en opciones: $8,450 solo para la cabina doble, la tracción en las cuatro ruedas y el combo híbrido i-Force Max. Otros extras incluyen un volante de cuero con calefacción de $150, tapetes para todo clima de $179, sistema de audio JBL de $565, escalón de cama retráctil de $399, cámaras de aire traseras con nivelación de carga de $650 y estribos de $710. Agregue el paquete Premium de $1345 (mejoras para remolque, faros LED mejorados, sistema de cámara de 360 grados) y el paquete Power de $385 (luces LED para la cama, tomacorrientes duales de 120 voltios, plataforma de carga inalámbrica), y la modelo Limited cuesta tanto como un camión de lujo, pero no se siente exactamente como tal.


            </p>

            <img src="https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2Farticulo1%2F2023-toyota-tundra-hybird-limited-crewmax153-64469d1abb6be.jpg?alt=media&token=f24920f1-78d2-4b11-973f-1f02164a810b" class="img-fluid shadow-1-strong rounded-5 mb-4"
            alt="" />

            <p>
              El detestable ruido falso del motor de la Tundra no convencerá a nadie de que hay un V-8 debajo del voluminoso capó. Toyota eligió audazmente ofrecer solo un V-6 de 3.4 litros con doble turbocompresor, con o sin asistencia híbrida. Aunque los Detroit Three pronto venderán una camioneta eléctrica, la Tundra más electrificada de Toyota es la híbrida que agrega un motor eléctrico entre el V-6 biturbo y la transmisión automática de 10 velocidades. Junto con un paquete de baterías de hidruro metálico de níquel con aproximadamente 1,0 kWh de energía utilizable que ocupa espacio debajo de los asientos traseros, el iForce Max proporciona una potencia máxima de 437 caballos de fuerza y 583 libras-pie de torsión.


            </p>


            <img src="https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2Farticulo1%2F2023-toyota-tundra-hybird-limited-crewmax115-64469d0ac2a26.jpg?alt=media&token=90483e89-944e-464e-aff1-af5267a7091a" class="img-fluid shadow-1-strong rounded-5 mb-4"
            alt="" />

            <p>
              La Tundra híbrida es más poderosa que la F-150 PowerBoost híbrida , pero nuestro ejemplo pesa casi 280 libras (6072 libras en total) que la Ford. Esa masa de rodillas supera la aceleración del Toyota, que requiere 5,6 segundos para alcanzar las 60 mph y pasa la marca del cuarto de milla en 14,3 segundos a 94 mph. Si bien no detectamos el desvanecimiento de los frenos durante su parada de 192 pies desde 70 mph, nuestro probador notó una sensibilidad al calor, lo que hizo que la camioneta entrara en modo flácido después de múltiples despegues a toda velocidad. La temperatura de la transmisión también se elevó peligrosamente mientras retrocedía un remolque por una colina corta.

              La sed de combustible del camión también es preocupante. La Tundra híbrida obtiene un estimado de 20 mpg combinado por la EPA, pero nuestro vehículo a largo plazo solo tiene un promedio alarmante de 13 mpg en este momento. Alrededor de un tercio de sus 3023 millas actuales se acumularon mientras remolcaba un remolque cerrado de 3500 libras, pero incluso ignorar esas millas solo aumenta ese promedio a 16 mpg. La mala economía de combustible también afectó a otros modelos que probamos, y es algo que monitorearemos ya que el camino por delante incluye mucho remolque y otras cosas del camión. Al final de su estadía de 40,000 millas, esperamos poder decir definitivamente si Toyota redujo la brecha entre la Tundra reinventada y las camionetas favoritas de Estados Unidos.
            </p>


          </section>
          <!--Section: Text-->

          <!--Section: Share buttons-->
          <section class="text-center border-top border-bottom py-4 mb-4">
            <p><strong>Compartir con tus amigos:</strong></p>

            <button type="button" class="btn btn-primary me-1" style="background-color: #3b5998;">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn btn-primary me-1" style="background-color: #55acee;">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-primary me-1" style="background-color: #0082ca;">
              <i class="fab fa-linkedin"></i>
            </button>
            <button type="button" class="btn btn-primary me-1">
              <i class="fas fa-comments me-2"></i>Agregar comentario
            </button>
          </section>
          <!--Section: Share buttons-->

          <!--Section: Author
          <section class="border-bottom mb-4 pb-4">
            <div class="row">
              <div class="col-3">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(23).jpg"
                  class="img-fluid shadow-1-strong rounded-5" alt="" />
              </div>
 
              <div class="col-9">
                <p class="mb-2"><strong>Anna Maria Doe</strong></p>
                <a href="" class="text-dark"><i class="fab fa-facebook-f me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-twitter me-1"></i></a>
                <a href="" class="text-dark"><i class="fab fa-linkedin me-1"></i></a>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                  inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                  Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                </p>
              </div>
            </div>
          </section>
          Section: Author-->

          <!--Section: Comments-->
          <section class="border-bottom mb-3">
            <p class="text-center"><strong>Comentarios: 0</strong></p>

            <!-- Comment 
            <div class="row mb-4">
              <div class="col-2">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                  class="img-fluid shadow-1-strong rounded-5" alt="" />
              </div>

              <div class="col-10">
                <p class="mb-2"><strong>Marta Dolores</strong></p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                  inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                  Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                </p>
              </div>
            </div>-->
          </section>
          <!--Section: Comments-->

          <!--Section: Reply-->
          <section>
            <p class="text-center"><strong>Deja tu Comentario</strong></p>

            <form>
              <!-- Name input -->
              <div class="form-outline mb-4">
                <input type="text" id="form4Example1" class="form-control" />
                <label class="form-label" for="form4Example1">Nombre</label>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form4Example2" class="form-control" />
                <label class="form-label" for="form4Example2">Email</label>
              </div>

              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                <label class="form-label" for="form4Example3">Mensaje</label>
              </div>

                          <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Publicar
              </button>
            </form>
          </section>
          <!--Section: Reply-->


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <!--Section: Sidebar-->
          <section class="sticky-top" style="top: 80px;">
            <!--Section: Ad-->
            <section class="text-center border-bottom pb-4 mb-4">
              <div class="bg-image hover-overlay ripple mb-4">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2Fpublicidad.png?alt=media&token=8ce1c3c7-9bca-40f5-a989-9028bf3003b0"
                  class="img-fluid" />
                <a href="" target="_blank">
                  <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                </a>
              </div>
              <h5>Publica tu Vehiculo Gratis!</h5>

            
              <a role="button" class="btn btn-primary" routerLink="/sell"
                target="_blank">Aprovechar Oferta! <i class="bi bi-car-front"></i></a>
            </section>
            <!--Section: Ad-->

         
          </section>
          <!--Section: Sidebar-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main layout-->

