
<div class="container pb-2  " style="background-color: #3D464D ; ">
    <div class="row d-flex justify-content-center align-items-center pb-4">
            <div class="col-xl-9">

                 <!-- Pregunta 1-->
                <div class="card text-center pt-2">
                    <div class="card-header" data-bs-toggle="collapse" href="#preg1" style="cursor: pointer;">
                        ¿Qué hace Autos Usados?
                       
                    </div>
                

                    <div class="card-body collapse bg-dark" id="preg1" >
                      
                        <p class="card-text" style="color: white;">Somos la nueva forma de vender carros usados en Venezuela. Transformamos un proceso comúnmente complejo, la venta de un vehículo usado, en algo ágil y rapido y confiable.</p>
                        
                   </div>
                </div>
                <!-- fin Pregunta 1-->


                <!-- Pregunta 2-->
                <div class="card text-center pt-2">
                <div class="card-header" data-bs-toggle="collapse" href="#preg2" style="cursor: pointer;">
                    ¿Puedo vender cualquier tipo de vehículo?
                </div>
            

                <div class="card-body collapse bg-dark" id="preg2">
                    
                    <p class="card-text" style="color: white;">Puedes vender cualquier carro liviano de servicio particular, como automóviles, camionetas, pick up y SUV, tanto usados como nuevos si asi lo requieras.</p>
                    
                </div>
            </div>
            <!-- fin Pregunta 2-->

             <!-- Pregunta 3-->
             <div class="card text-center pt-2">
                <div class="card-header" data-bs-toggle="collapse" href="#preg3" style="cursor: pointer;">
                    ¿Cuanto cuesta publicar en Autos Usados?
                </div>
            

                <div class="card-body collapse bg-dark" id="preg3">
                    
                    <p class="card-text" style="color: white;">El costo por publicar hasta que vendas tu vehiculo, o decidas dar de baja a la publicación es de 1$ o su equivalente en bolivares a tasa BCV del momento</p>
                    
                </div>
            </div>
            <!-- fin Pregunta 3-->


              <!-- Pregunta 4-->
              <div class="card text-center pt-2">
                <div class="card-header" data-bs-toggle="collapse" href="#preg4" style="cursor: pointer;">
                    ¿Despues de haber cancelado los 1$, cuanto tiempo se tarda en activar mi publicación?
                </div>
            

                <div class="card-body collapse bg-dark" id="preg4">
                    
                    <p class="card-text" style="color: white;">Luego de registrar el comprobante de pago, deberas esperar maximo 1 dia habil para su revisión y aprobación.</p>
                    
                </div>
            </div>
            <!-- fin Pregunta 4-->


            

              <!-- Pregunta 5-->
              <div class="card text-center pt-2">
                <div class="card-header" data-bs-toggle="collapse" href="#preg5" style="cursor: pointer;">
                    ¿Porque debo registrarme en Autos Usados?
                </div>
            

                <div class="card-body collapse bg-dark" id="preg5">
                    
                    <p class="card-text" style="color: white;">Deberas registrarte en Autos Usados para poder vender tu vehiculo, y/o tratar con algun vendedor por medio de mensajes en la plataforma.</p>
                    
                </div>
            </div>
            <!-- fin Pregunta 5-->


              <!-- Pregunta 6-->
              <div class="card text-center pt-2">
                <div class="card-header" data-bs-toggle="collapse" href="#preg6" style="cursor: pointer;">
                    ¿Revisan las publicaciones en la plataforma?
                </div>
            

                <div class="card-body collapse bg-dark" id="preg6">
                    
                    <p class="card-text" style="color: white;">Si, constantemente revisamos cada una de las publicaciones activas, mantenemos siempre que cada publicacion, preguntas y respuestas se mantenga en el orden y criterio justo.</p>
                    
                </div>
            </div>
            <!-- fin Pregunta 6-->


            <!-- Pregunta 7-->
            <div class="card text-center pt-2">
                <div class="card-header" data-bs-toggle="collapse" href="#preg7" style="cursor: pointer;">
                    ¿Es seguro vender en Autos Usados?
                </div>
            

                <div class="card-body collapse bg-dark" id="preg7">
                    
                    <p class="card-text" style="color: white;">Nuestra plataforma sirve de puente entre el vendedor y el comprador para la comunicacion y posterior transacción del vehiculo.</p>
                    
                </div>
            </div>
            <!-- fin Pregunta 7-->

                <!-- Pregunta 8-->
                <div class="card text-center pt-2">
                    <div class="card-header" data-bs-toggle="collapse" href="#preg8" style="cursor: pointer;">
                        ¿Quién vende los vehículos que se ofrecen en la plataforma?
                    </div>
                
    
                    <div class="card-body collapse bg-dark" id="preg8">
                        
                        <p class="card-text" style="color: white;">Aquellos clientes que se han registrados en la plataforma con su datos personales.</p>
                        
                    </div>
                </div>
                <!-- fin Pregunta 8-->



                 <!-- Pregunta 9-->
                 <div class="card text-center pt-2">
                    <div class="card-header" data-bs-toggle="collapse" href="#preg9" style="cursor: pointer;">
                        ¿El costo de 1$ tambien incluye la publicacion en la cuenta de Instagram?
                    </div>
                
    
                    <div class="card-body collapse bg-dark" id="preg9">
                        
                        <p class="card-text" style="color: white;">Si, tu publicación aparecera tanto en la web como en nuestra cuenta de instagram @autosusados.ve</p>
                        
                    </div>
                </div>
                <!-- fin Pregunta 8-->



            </div>
    </div>
</div>
