

  <div class="card-body px-0 py-0">
    <div class="row">
      <div class="col-md-8 py-2" style="background-color: white;">
        <div class="mx-4 my-4">
          <p class="h3 mb-3"><strong>Como Comprar y Vender en Autos Usados</strong></p>
          <p class="text-muted">En el marketPlace podras buscar el auto que mejor te convenga, consulta por marca, modelo de tu preferencia, haz clic en el auto que mas te guste, contacta al vendedor y Concreta una cita con la seguridad, facilidad que mejor se adapte a ti. Recuerda seguir los consejos de seguridad.</p>
          <p class="text-uppercase text-primary mb-0 new-section" style="font-size: 14px;"> Consejos:
            <span class="line-pricing"></span></p>
  
          <div class="row">
            <div class="col-md-6">
              <ol class="list-unstyled mb-0 pt-0 pb-0">
                <p class="my-3 fw-bold text-muted text-center">
                </p>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i><small> Desde Autos Usados, nunca te pediremos contraseñas, PIN o códigos de verificación a través de WhatsApp, teléfono, SMS o email.</small>
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i><small>Cuídate si mencionan ventas rápidas por mudanza.</small>
                </li>
              </ol>
            </div>
            <div class="col-md-6">
              <ol class="list-unstyled mb-0 pt-0 pb-0">
                <p class="my-3 fw-bold text-muted text-center">
                </p>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i><small>Cuídate si mencionan ventas rápidas por mudanza.</small>
                </li>
                <li class="mb-3">
                  <i class="fas fa-check text-success me-3"></i><small>Desconfía de ofertas debajo del precio de mercado.</small>
                </li>
              </ol>
            </div>

            <p class="text-muted">Para poder vender en la plataforma, deberas registrarte con un correo electronico valido, proporcionar algunos datos basicos personales y listo!, podras crear tu publicacion totalmente gratis, luego para que tu publicacion aparezca en el apartado del MarketPlace deberas cancelar un monto minimo y asi disfrutar del servicio.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center"
        style="background-color:#F9FAFB ; box-shadow: 0px 0px 10px 1px #aaaaaa;">
        <div class=" mt-5 pt-4 me-4">
          <p class="h1">Vende por tan solo</p>
          <p class="h2 fw-bold text-black" style="font-size: 40px;">$1 <small class="text-muted"
              style="font-size: 15px;">USD</small></p>
          <p class="text-decoration-underline text-black-50 " style="font-size: 15px;"><a routerLink="/">Registrate</a></p>
          <a routerLink="/sell" class="btn btn-dark d-block mb-2 mt-3 text-capitalize">Vender</a>
          <p class="fw-bold mt-3" style="font-size: 13px;">Tu publicacion es Gratis! </p>
        </div>
  
      </div>
    </div>
  </div>



 