    
    <div class="container" style="background-color: #3D464D ; ">
        <div class="row d-flex justify-content-center align-items-center pb-4">
          <div class="col-xl-9">
    
            <h1 class="text-white mb-4 pt-2" style="text-align: center;">Modificar Publicación</h1>
    
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">
          <!-- Formulario Publicaciones-->
              <form  #publicacionesForm="ngForm" (ngSubmit)="modificar()"  [formGroup] = "registerPublicacion">
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0">marca:</h6>
    
                  </div>
                  <div class="col-md-9 pe-5">
    
                     <!-- <input type="text" class="form-control form-control" formControlName="marca"/> -->
        
                  <select id="marca" class="form-control form-control" formControlName="marca" (change)="buscarModeloPorMarca()">
                    <option value="">-- Selecciona una marca --</option>
                    <option *ngFor="let marca of marcas" [value]="marca.Nombre">{{ marca.Nombre }}
                    </option>
                  </select>

                   
                    <span *ngIf= "registerPublicacion.get('marca')?.hasError('required') && registerPublicacion.get('marca')?.touched" class="text-danger">La <strong>Marca</strong> es requerido </span>
  
                  </div>
                </div>
    
  
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0">modelo:</h6>
    
                  </div>
                  <div class="col-md-9 pe-5">
    
                     <!--  <input type="text" class="form-control form-control" formControlName="modelo" /> -->
                 
                  <select id="modelo" class="form-control form-control" formControlName="modelo">
                    <option value="">-- Selecciona un modelo --</option>
                    <option *ngFor="let modelo of modelos" [value]="modelo.Nombre">{{ modelo.Nombre }}</option>
                  </select>
                   
                    <span *ngIf= "registerPublicacion.get('modelo')?.hasError('required') && registerPublicacion.get('modelo')?.touched" class="text-danger">El <strong>Modelo</strong> es requerido </span>
  
                  </div>
                </div>
    
               
    
               <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0">Año del Vehiculo:</h6>
    
                  </div>
                  <div class="col-md-9 pe-5">
    
                    <input type="number" class="form-control form-control" formControlName="ano"/>
  
                    <span *ngIf= "registerPublicacion.get('ano')?.hasError('required') && registerPublicacion.get('ano')?.touched" class="text-danger">El <strong>año</strong> es requerido </span>
                    
                  </div>
                </div>
    
               
    
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0">Km del Vehiculo:</h6>
    
                  </div>
                  <div class="col-md-9 pe-5">
    
                    <input type="number" class="form-control form-control" formControlName="km" />
  
                    <span *ngIf= "registerPublicacion.get('km')?.hasError('required') && registerPublicacion.get('km')?.touched" class="text-danger">El <strong>Kilometraje</strong> es requerido </span>
    
                  </div>
                </div>
    
              
  
  
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0;  pb-2">Transmisión:</h6>
    
                  </div>
  
                  
                  <div class="col-md-6 mb-4">
  
                    <select class="form-select" aria-label="Transmision" formControlName="transmision">
                      <option value="Sincronico">Sincronico</option>
                      <option value="Automatico">Automatico</option>
                    </select>
  
                    <span *ngIf= "registerPublicacion.get('transmision')?.hasError('required') && registerPublicacion.get('transmision')?.touched" class="text-danger">La <strong>Transmisión</strong> es requerido </span>
  
                  </div>
                </div>
    
  
                
  
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0">Unico Dueño:</h6>
    
                  </div>
                  <div class="col-md-9 pe-5">
    
                    <input type="text" class="form-control form-control" placeholder="ejemplo 1-1" formControlName="unicodueno"/>
  
                    <span *ngIf= "registerPublicacion.get('unicodueno')?.hasError('required') && registerPublicacion.get('unicodueno')?.touched" class="text-danger">Indica cuantos <strong>dueños</strong> ha tenido el vehiculo </span>
    
                  </div>
                </div>
    
             
  
  
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0">Extra:</h6>
    
                  </div>
                  <div class="col-md-9 pe-5">
    
                    <textarea class="form-control" formControlName="extra" rows="3" placeholder="Extras de tu vehiculo que aumentan más su valor"></textarea>
    
                  </div>
                </div>
    
               
  
  
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0">Fallas:</h6>
    
                  </div>
                  <div class="col-md-9 pe-5">
    
                    <textarea class="form-control" formControlName="fallas" rows="3" placeholder="Tu vehiculo tiene un problema, detallalo aqui"></textarea>
    
                  </div>
                </div>
                
  
  
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0;  pb-2">Aceptas cambio:</h6>
    
                  </div>
  
                  
                  <div class="col-md-3 mb-4">
  
                    <select class="form-select" aria-label="Cambio" formControlName="aceptascambio">
                      <option value="No">No</option>
                      <option value="Si">Si</option>
                    </select>
                    
                    <span *ngIf= "registerPublicacion.get('aceptascambios')?.hasError('required') && registerPublicacion.get('aceptascambios')?.touched" class="text-danger">Indica si aceptas <strong>cambiar</strong> tu vehiculo por alguna otra propuesta</span>
                  </div>
                </div>
  
          
                <div class="row ">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0; pt-2">Precio Vehiculo:</h6>
    
                  </div>
  
                  <div class="col-md-3 pe-5">
    
                    <input type="number" class="form-control form-control" formControlName="precio"/>
  
                    <span *ngIf= "registerPublicacion.get('precio')?.hasError('required') && registerPublicacion.get('precio')?.touched" class="text-danger">El <strong>Precio</strong> es requerido </span>
  
                  </div>
  
                  <div class="col-md-6 pe-5">
                    <select class="form-select" aria-label="Moneda" formControlName="tipomoneda">
                      <option value="Bolivares">Bolivares</option>
                      <option value="Dolares">Dolares</option>
                    </select>
  
                    <span *ngIf= "registerPublicacion.get('tipomoneda')?.hasError('required') && registerPublicacion.get('tipomoneda')?.touched" class="text-danger">El tipo de<strong>Moneda</strong> es requerido </span>
  
                  </div>
  
                 
                </div>
  
  
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0;  pb-2">Ubicación del Vehiculo:</h6>
    
                  </div>
  
                  
                  <div class="col-md-3 mb-4">
  
                    <select class="form-select" aria-label="ubicacion" formControlName="ubicacion">
                      <option value="" selected >Estado</option>
                      <option *ngFor="let estados of estadosVenezuela" [value]="estados">
                          {{estados}}
                      </option>
                    </select>                
                    <span *ngIf= "registerPublicacion.get('ubicacion')?.hasError('required') && registerPublicacion.get('ubicacion')?.touched" class="text-danger">la <strong>ubicación</strong> es requerido</span>
                  </div>
                </div>

                      <!--Botonera"-->
                <div class="d-grid gap-2">
                      
                        <button  id="botonEnviar" type="submit"  [disabled] = "registerPublicacion.invalid || sendPublicacion" class="btn btn-primary btn-lg"><i class="bi bi-arrow-up-square-fill"></i> Modificar Datos de la Publicación</button>
                     
                </div>

                <hr/>

                <div class="row align-items-center py-3 " >
                  
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0">Foto principal</h6>
    
                  </div>
  
                  <div class="col-md-9 pe-5">
    
                   <input class="form-control form-control " id="fotoPrincipal" accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP" id="fotoPrincipal" type="file" (change)="cargarImageprincipal($event)" />
  
                   <span *ngIf= "registerPublicacion.get('fotoprincipal
                   ')?.hasError('required') && registerPublicacion.get('fotoprincipal')?.touched" class="text-danger">La <strong>Foto Principal</strong> es requerido </span>
  
                    <div class="small text-muted mt-2">
                      size Max 5 MB
                    </div>
  
                  </div>
  
                </div>
                
                  
                  <app-spinner *ngIf="loadingII"></app-spinner>
                  <div *ngIf="imgPrincipal" class="col-lg-2">
                    <div class="card" style="background-color:#F9FAFB ; box-shadow: 0px 0px 10px 1px #aaaaaa;">
                       <i data-bs-toggle="modal" href="#alertDeleteFotosPrincipal" style="cursor: pointer; position: absolute; background-color: white;" class="bi bi-trash"></i>
                       <div class="imgresponsive">
                       <img  class="img-fluid"  
                      [src]="imgPrincipal"
                        class="card-img-top"
                        alt="vehiculos"
                      />
                      </div>
                       <!-- Tips  barraProgeso-->
                      <div  *ngIf="percentDoneFlag" class="progress d-flex justify-content-center ">
                        <div  class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" [style.width]="(percentDone)+'%'">Actualizando {{percentDone}}%</div>
                      </div>
                    </div>
                  </div>
                
                
                <div class="row align-items-center py-3 " >
                
                  <div class="col-md-3 ps-5">
    
                    <h6 class="mb-0">Fotos del Vehículo Max(10)</h6>
    
                  </div>
  
                  <div class="col-md-9 pe-5">
    
                    <input  class="form-control form-control"  id="imagenes" accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP" type="file" multiple  (change)="cargarImagenes($event)"/>
                    
                    <div class="small text-muted mt-2">
                      size Max 50 MB
                    </div>
    
                  </div>
               
  
                  <app-spinner *ngIf="loading"></app-spinner>
         
                  <div *ngFor="let item of archivos; let i = index;" class="col-lg-2">
                       
                          <!-- fotos Guardadas-->
                          <div class="card" style="background-color:#F9FAFB ; box-shadow: 0px 0px 10px 1px #aaaaaa;"><i (click)="deleteImagenes(item.id,item.urlfotopublicacion)" style="cursor: pointer; position: absolute; background-color: white;"  class="bi bi-trash"></i>
                            <div class="imgresponsive">
                            <img class="img-fluid" 
                            [src]="item.urlfotopublicacion"
                              class="card-img-top"
                              alt="vehiculos"
                            /></div>
                             <!-- Tips  barraProgeso-->
                      <div *ngIf="percentDonePostFlag" id="barraP2" class="progress d-flex justify-content-center ">
                        <div  class="progress-bar progress-bar-striped progress-bar-animated"  role="progressbar" [style.width]="(percentDonePost)+'%'">Actualizando {{percentDonePost}}%</div>
                      </div>
                          </div>

                          

                        </div>                     
                </div>
                             
                <hr class="mx-n3">
  
            </form>
            </div>
  
      
        
          </div>
        </div>
  
   
      </div>
  
  
    <button #alertDeleteFotosPrincipal type="button" hidden="true" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#alertDeleteFotosPrincipal"></button>

     <!-- Alert Modal Foto Principal-->
     <div  class="modal fade"   id="alertDeleteFotosPrincipal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">

      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header bg-danger">
      <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Eliminar Foto Principal</h5>
      <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p style="text-align: center;"><i  class="fas fa-bell fa-4x text-primary mb-4"></i></p>
        <p style="text-align: center;">¿Estas seguro de eliminar la foto principal?</p>
      </div>

     

      <div class="modal-footer d-flex justify-content-center">
      <button type="button"  id="botoncerrarmodal" class="btn btn-outline-primary" data-bs-dismiss="modal" aria-label="Close">
      No
      </button>
      <button (click)="deleteImgPrincipal()" type="button" class="btn btn-primary">Sí</button>
      </div>
      </div>
      </div>
      </div>  

    
  <button #alertDeleteFotos type="button" hidden="true" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#alertDeleteFotos"></button>

  <!-- Alert Modal Fotos vehiculos-->
    <div  class="modal fade"   id="alertDeleteFotos" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">

      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header bg-danger">
      <h5 class="modal-title" id="exampleModalLabel" style="color: white;">Eliminar Foto Principal</h5>
      <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p style="text-align: center;"><i  class="fas fa-bell fa-4x text-primary mb-4"></i></p>
        <p style="text-align: center;">¿Estas seguro de eliminar la foto principal?</p>
      </div>

    

      <div class="modal-footer d-flex justify-content-center">
      <button type="button"  id="botoncerrarmodal" class="btn btn-outline-primary" data-bs-dismiss="modal" aria-label="Close">
      No
      </button>
  
      <button  type="button" (click)="deleteImagen()" class="btn btn-primary">Sí</button>
      </div>
      </div>
      </div>
      </div>  