<section>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body m-3">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
              <img src="https://firebasestorage.googleapis.com/v0/b/autosusados-app.appspot.com/o/autosusados%2Fimg%2FloginCar-1.jpg?alt=media&token=76142ff1-2e3d-444b-b121-aaa64419639c"
                class=" img-fluid " alt="foto"   />
            </div>
            <div class="col-lg-8 justify-content-between">
              <p class="text-muted fw-light mb-4" style="text-align:justify;">
                En <strong> Autos Usados </strong>, nos enorgullece ser el destino en línea para comprar y vender autos usados de manera fácil y rapida. Nuestro objetivo es proporcionar una plataforma intuitiva, amigable, facil y confiable para que los compradores y vendedores de toda venezuela puedan conectarse y realizar transacciones sin problemas.
                                
                Si buscas comprar o vender un vehículo usado, no busques más allá de <strong>Autos Usados</strong>. Nuestro compromiso con la satisfacción del cliente y la excelencia en el servicio al cliente nos convierte en el destino ideal para cualquier persona que busque una experiencia de compra o venta de automóviles usados sin problemas. ¡Únete a nuestra comunidad hoy y descubre la diferencia que podemos hacer para ti!
              </p>
              <p class="fw-bold lead mb-2"><strong>Anderson Garcia</strong></p>
              <p class="fw-bold text-muted mb-0">Equipo tecnico de Autos Usados</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>